<div class="card">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div class="flex align-items-center text-primary">
                <span class="pi pi-user mr-2"></span>
                <span class="font-bold text-lg">Registro Usuarios</span>
            </div>
        </ng-template>
        <div class="mb-5">
        <p-button (click)="showDialog(true)" icon="pi pi-plus" label="Añadir" [outlined]="true" severity="success"></p-button>
        
    </div>
   
    <p-toast></p-toast>

    <div class="card">
        <p-table
            [value]="users"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%">Dni</th>
                    <th style="width:25%">Nombres</th>
                    <th style="width:25%">F. Ingreso</th>
                    <th style="width:12.5%">Editar</th>
                    <th style="width:12.5%">Borrar</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.dni }}</td>
                    <td>{{ user.nombres }}</td>
                    <td>{{ formatISODateToDDMMYYYY(user.createdAt) }}</td>
                    <td><p-button (click)="modificar(user._id)" icon="pi pi-pencil" label="Editar" [rounded]="true" severity="info"></p-button></td>
                    <td><p-button (click)="deleteUser(user._id)" icon="pi pi-trash" label="Borrar" [rounded]="true" severity="danger"></p-button></td>
                </tr>
                    
            <p-confirmDialog key="{{user._id}}" [style]="{width: '50vw'}"></p-confirmDialog>
                    
                
            </ng-template>
            <!-- <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template> -->
            <ng-template pTemplate="paginatorright">
                <!-- <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button> -->
            </ng-template>
        </p-table>
    </div>
<!-- modal -->
    <div class="card flex justify-content-center">
       
        <p-dialog header="Registro Usuario" [(visible)]="visible" [style]="{ width: '50vw', height: '500px' }">
            <div class="flex py-2 justify-content-center  align-items-center">
                <menu-registro-usuarios [editingUser]="editingUser" (userUpdating)="this.cargarListaUsers()" (userCreation)="userCreation(false)" ></menu-registro-usuarios>
            </div>
        </p-dialog>
    </div>
    
    </p-fieldset>
    
</div>